.tracking-wide {
  letter-spacing: 0.05em;
}

.tracking-widest {
  letter-spacing: 0.25em;
}

@keyframes fadeIn {
  from {
      opacity: 0;
      transform: translateY(-5px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}
